body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    font-size: Arial, sans-serif;
    color: white;
    margin: 0;
}

.Clock-container {
    width: 500px;
    font-size: 80px;
    margin-left: 425px;
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    color: white;
    border: 3px solid red;
    background-color: green;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.Clock {
    font-size: 60px;
    margin-bottom: 10px;
} 

.Date {
    width: 500px;
    font-size: 80px;
    margin-left: 400px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 50px 60px;
    border: 3px solid red;
    border-radius: 15px;
    background-color: green;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.week {
    width: 500px;
    font-size: 80px;
    margin-left: 400px;
    margin-top: 50px;
    font-weight: bold;
    padding: 50px 60px;
    text-align: center;
    border-radius: 15px;
    border: 3px solid red;
    background-color: green;
    box-shadow: 0px 4px 15px rgba(0.5, 0, 0, 0);
}